<h1>About Me</h1>

<div>
	Hello, My name is Sean. I am learning Rails recently, and this is my first try.<br><br>
	Please give me some advice about this site if there are some big bug here.<br><br>
	I will really appreciate what YOUR beautiful action.<br><br>
	My Email: shonshon7 at gmail dot com
</div>

<br><br><br><br>
<div><%= link_to("BACK", moneys_path)%></div>